@font-face {
  font-family: "iconfont"; /* Project id 3998540 */
  src: url('iconfont.woff2?t=1681483558389') format('woff2'),
       url('iconfont.woff?t=1681483558389') format('woff'),
       url('iconfont.ttf?t=1681483558389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijian:before {
  content: "\e63f";
}

.icon-31guanbi:before {
  content: "\e602";
}

.icon-icon-test:before {
  content: "\e663";
}

.icon-icon-test1:before {
  content: "\e668";
}

.icon-zhengquewancheng:before {
  content: "\e8e5";
}

.icon-xialajiantou:before {
  content: "\e60c";
}

.icon-shangjiantou:before {
  content: "\e606";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-jian:before {
  content: "\e600";
}

.icon-jia:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-anjianfengexian:before {
  content: "\e680";
}

.icon-user:before {
  content: "\e611";
}

.icon-sousuo1:before {
  content: "\e632";
}

.icon-tubiaozhizuomoban_shatan:before {
  content: "\e605";
}

.icon-caidan:before {
  content: "\e67c";
}

.icon-shuji:before {
  content: "\e607";
}

.icon-jipiao:before {
  content: "\e73e";
}

.icon-jiudian:before {
  content: "\e73f";
}

.icon-icon_huochepiao:before {
  content: "\e64e";
}

